@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-minus-20px {
    height: calc(100vh - 240px);
}

.container{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    position: relative;
}

.calender{
    padding: 20px;
    border: 2px grey;
}

.dateRange{
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 10;
    border: 1px black solid;
}